.navBar{
    height: 50px;
    background-color: #bab45e;
    border: 1px solid #bab45e;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

@media(max-width: 640px){
    .horoscopeTitle{
        font-size: 20px;
        align-self: center;
    }
}
