.horoscopeTitle{
    color: black;
    font-size: 30px;
    margin: -5px 0 0 0;
    font-weight: 600;
}

.buttons{
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatsMySign, .goBackButton{
    background-color:yellow;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "cursive";
    height: 30px;
}

.whatsMySign{
    width: 120px;
    font-size: 15px;
}
.goBackButton {
    width: 80px;
    align-self: center;
}

.goBackButton:hover, .whatsMySign:hover{
    background-color: rgb(61, 61, 61);
    color: yellow;
}

.goBackButton:active, .whatsMySign:active{
    background-color: black;
}
