.horoscopeList{
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: space-evenly;
}

.sign{
    object-fit: contain;
    height: 250px;
    transition: transform 0.3s linear;
}

.sign:hover{
    cursor: pointer;
    transform: scale(1.2) rotate(360deg);
}

.title{
    margin: 30px auto 30px auto;
    grid-column: 1/5;
    font-size: 40px;
    color: #bab45e;
    text-align: center;
    background-color: black;
    width: 500px;
}