.left, .right{
    position: absolute;
    color: white;
    transform: translateY(-50%);
}

.left{
    left: 0px;
    top: 40%;
}

.right{
    right: 0px;
    top: 40%;
}

.currentReading{
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 10px 0;
}

@media (max-width: 500px){
    .left{
        top: 35%;
        left: -15px;
    }
    .right{
        top: 35%;
        right: -15px;
    }
}