.left, .right{
    position: absolute;
    color: white;
    transform: translateY(-50%);
    width: 65px;
    height: 80px;
}

.left{
    left: 0px;
    top: 35%;
}
.left p:nth-of-type(1){
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.right{
    right: 0px;
    top: 35%;
}

.right p:nth-of-type(1){
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.currentReading{
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 10px 0;
}

@media (max-width: 500px){
    .left{
        top: 35%;
        left: -15px;
    }
    .right{
        top: 35%;
        right: -15px;
    }
}